@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@300;400;700&display=swap');

body, h1, h2, h3 .p{
    margin: 0;
    padding: 2;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    background: url(Aback.jpg) no-repeat fixed center; 
    background-size: cover;
    line-height: 1.6;
}
body : : before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0,5);
    z-index: -1;
}

.main-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header{
    position: relative;
    background: ##77787c;
    color: #ffff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    animation slideDown 2s forwards;
}

header .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
}

header .logo img{
    height: 100%;
    width: auto;
}

header h1 {
    font-size: 2.4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@keyframes slideDown{
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
100%{
    transform: translateY(0);
    opacity: 1;
    }
}

.hyper-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 20px;
    opacity: 0;
    animation: fadeSlideIn 2s ease-out 1s forwards;
}

.hyper-section h2 {
    font-size: small;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

.hyper-section p {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    max-width: 600px;
}

.bio-section p{
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    max-width: 800px;
    margin: 0auto;
}

@keyframes fadeSlideIn{
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
